@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Foo Bar<br />
    Tacoma, WA<br />
    <abbr title="Phone">P:</abbr>
    253-555-9876
</address>

<address>
    <strong>Contact address: </strong>   []<br />
</address>