@{
    ViewBag.Title = "Boze & Beyond - Landing Zone";
}

<div class="jumbotron">
    <h1>Boze and Beyond</h1>
    <br /><br />
    <img src="~/Assets/Images/home_rocket.png" class="img-fluid" id="imgCenter" />
    <br /><br />
    <h2>Welcome to the Landing Zone!</h2>
    <br />
</div>

<!--

    <div class="justify-content-around">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
</div>

-->

<div class="row">
    <div class="col-auto">
        <h5>
            Here you will find a collection of links that allow navigation to a variety of different pages across this site. Each page features
            different kinds of content and ideas, curated and directed by the 5th grade students of Boze Elementary School in partnership with UW TINFO undergrads.
        </h5>
    </div>

    <br /><br />
    <hr />
    <br /><br />

    <div class="col-md-4">
        <h5 class="lead">The scenario:</h5>

        <br />

        <p>
            The basis of this website is built around a hypothetical situation where Boze students must plan and develop any necessary business/product solutions
            that allow for sustainable living within a spacecraft on a 100-year voyage; no pit stops or return flights back to Earth.
        </p>
    </div>
</div>