<!DOCTYPE html>
<html>
    <head>
        <title>VoidCo | About</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="../../Content/styles.css" />
    </head>
    <body>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="../Home/Index.cshtml">HOME</a></li>
                    <li><a href="./store.html">STORE</a></li>
                    <li><a href="./about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="store-name store-name-large">VoidCo</h1>
        </header>

        <section class="content-section container">
            <h2 class="section-header">About</h2>
            <img class="about-school-image" src="../../Assets/Images/boze_logo.jpg">
            <p>We're happy to see you stop to visit our VoidCo site. Here we feature all the essential items that we found necessary to include in our shop. If you don't find an item you want
			please let us know, and we will work to include it into our store. In the future, our store would grow to become the one-stop-shop for all necessary items, but this cannot be done
			without the help of our peers. We would like to see what you want included on the site!</p>
            <p><h3><br>About the authors:</h3><br> Aaron Chin, Ben Calvert, Johnny Hoang, Johaunna Son, and Sebastian Santana worked on this web-site. Each of us played a vital role in creating this site,
			for your viewing pleasure.</p>
        </section>
        
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="store-name">VoidCo</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="../../Assets/Images/youtube-logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.spotify.com" target="_blank">
                            <img src="../../Assets/Images/spotify-logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="../../Assets/Images/facebook-logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>