<!DOCTYPE html>
<html>
    <head>
        <title>VoidCo | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="../../Content/styles.css" />
        <script src="../../Scripts/store.js"></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="../Home/Index.cshtml">HOME</a></li>
                    <li><a href="./store.html">STORE</a></li>
                    <li><a href="./about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="store-name store-name-large">VoidCo</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">FOOD</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Whole Chicken</span>
                    <img class="shop-item-image" src="../../Assets/Images/chicken.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$12.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Ground Beef</span>
                    <img class="shop-item-image" src="../../Assets/Images/beef.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$6.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Assorted Vegetables</span>
                    <img class="shop-item-image" src="../../Assets/Images/vegetables.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$9.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Assorted Fruit</span>
                    <img class="shop-item-image" src="../../Assets/Images/fruit.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$14.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
				<div class="shop-item">
                    <span class="shop-item-title">Milk</span>
                    <img class="shop-item-image" src="../../Assets/Images/milk.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$3.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
				<div class="shop-item">
                    <span class="shop-item-title">Cereal</span>
                    <img class="shop-item-image" src="../../Assets/Images/cereal.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$4.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Clothing</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Red T-Shirt</span>
                    <img class="shop-item-image" src="../../Assets/Images/kids_shirt.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$8.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Pink T-Shirt</span>
                    <img class="shop-item-image" src="../../Assets/Images/kids_shirt1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$8.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
				<div class="shop-item">
                    <span class="shop-item-title">Blue Coat</span>
                    <img class="shop-item-image" src="../../Assets/Images/kids_coat.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$19.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Rose Coat</span>
                    <img class="shop-item-image" src="../../Assets/Images/kids_coat1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$19.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
				<div class="shop-item">
                    <span class="shop-item-title">Boys Pants</span>
                    <img class="shop-item-image" src="../../Assets/Images/kids_pants.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$12.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Girls Pants</span>
                    <img class="shop-item-image" src="../../Assets/Images/kids_pants1.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$12.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
		<section class="container content-section">
            <h2 class="section-header">Toiletries</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Shampoo</span>
                    <img class="shop-item-image" src="../../Assets/Images/shampoo.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$4.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Conditioner</span>
                    <img class="shop-item-image" src="../../Assets/Images/conditioner.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$4.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
				<div class="shop-item">
                    <span class="shop-item-title">Toothbrush</span>
                    <img class="shop-item-image" src="../../Assets/Images/tooth_brush.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$2.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Toothpaste</span>
                    <img class="shop-item-image" src="../../Assets/Images/tooth_paste.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$3.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
				<div class="shop-item">
                    <span class="shop-item-title">Toilet-Paper</span>
                    <img class="shop-item-image" src="../../Assets/Images/toilet_paper.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Hair-Brush</span>
                    <img class="shop-item-image" src="../../Assets/Images/hair_brush.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$6.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="store-name">VoidCo</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="../../Assets/Images/youtube-logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.spotify.com" target="_blank">
                            <img src="../../Assets/Images/spotify-logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="../../Assets/Images/facebook-logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>