<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="D:/home/site/wwwroot/Content/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>  
    <body class = "border">
<br>

<nav class = "middle">
  <ul>
    <li class="parent"><a href="#">Amusement Center</a>
      <ul class="child">
        <li><a href="D:/home/site/wwwroot/Views/Amusement/AmusementBoze.html">Wolly World</a></li>
		<li><a href="D:/home/site/wwwroot/Views/Amusement/contact.html">Contact Us</a></li>
      </ul>
    </li>
	</ul>
	</nav>

<br>

<article class="contact-section">

  <h1>Contact Us</h1>
  <form class="contact-form" action="index.html" method="post">
    <input type="text" class="contact-form-text" placeholder="Your name">
    <input type="email" class="contact-form-text" placeholder="Your email">
    <input type="text" class="contact-form-text" placeholder="Your phone">
    <textarea class="contact-form-text" placeholder="Your message"></textarea>
    <input type="submit" class="contact-form-btn" value="Send">
  </form>
</article>
         <br>
          
  </body>
</html>
