<html>
<head>
	<title> Starlight Hospital </title>
	
    <link href="D:/home/site/wwwroot/Content/hospital_style.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	
	<div class="top">
		<div>
		 Contact Us +91 96366 20000 / 01 | starlight@hospital.com 
		</div>
	</div>
	
	<article class="logo">
		<div>
			<table>
				<tr>
					<td><img src ="D:/home/site/wwwroot/Assets/Images/logo.png" alt="logo" /></td>
					<td id= "titlestar" style="font-family:calibri;"> Starlight Hospital </td>
					<td id="logolist" > <br> <br>
							<a href="index.html">HOME</a> 
							<a href="about.html">ABOUT US</a>  
							<a href="service.html">SERVICE</a>
							<a href="doctor.html">DOCTORS</a> 
							<a href="contact.html">CONTACT US</a>
					</td>
				</tr>
			</table>
		</div>
	</article>
	
	
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">

					<font color="#000" size="7px"> SERVICES &  <b>DEPARTMENTS</b> </font> <br> <br>	
					</td>				
				</tr>
			</table>
		</div>
	</div>
	
	<article class= "middle-bottom">
	<div class="row">
  <div class="column1" style="background-color:#3090C7;">
    <ul>
		<li>A</li>
		<ul>
			<li>Adolescent Psych</li>
			<li>Anesthesiology</li>
			<li>Asthma, Allergy and Immunology</li>
		</ul>
		<li>B</li>
		<ul>
			<li>Bariatric Surgery</li>
			<li>Brain Cancer</li>
			<li>Breast Cancer</li>
		</ul>
		<li>C</li>
		<ul>
			<li>Cardiology</li>
			<li>Cancer Institute (Oncology)</li>
			<li>Center for Cosmetic Services</li>
		</ul>
		</ul>
				
  </div>
  <div class="column2" style="background-color:#99ff66;">
    <h2>Featured Service</h2>
	<img src= "D:/home/site/wwwroot/Assets/Images/dentist.jpg" style="width:60%">
    <p><b>Dental</b><br>
	<font style="font-size:20px">Starlight Hospital offers high quality, accessible, and comprehensive services to children, adolescents, and families.</font>
	<ul>
	<ul>
		<li>Dermatology</li>
		<li>Diabetes Center</li>
	</ul>
	</ul>
  </div>
  <div class="column3" style="background-color:#BDEDFF;">
	<ul>
    <li>E</li>
	<ul>
		<li>Ear, Nose and Throat</li>
		<li>Emergency Department</li>
		<li>Endocrinology</li>
	</ul>
	<li>F</li>
	<ul>
		<li>Facial Plastic Surgery</li>
		<li>Family Medicine</li>
	</ul>
	<li>G</li>
	<ul>
		<li>Gastroenterology and Hepatology</li>
		<li>General Medicine</li>
		<li>General Surgery</li>
		<li>Gynecology</li>
	</ul>
	</ul>
  </div>
</div>
</article>
	
	<div class="nav_down">
		<div>
		 &copy; Starlight Hospital, site designed & developed by UWT Students
		</div>
	</div>
</body>
</html>
